<!DOCTYPE html>
<html>
<<<<<<< HEAD
=======

>>>>>>> 30abb2d66ec6474e545a769bcc0595d88d017a64
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/style.css" media="screen" title="no title" charset="utf-8">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <meta charset="utf-8">
<<<<<<< HEAD
=======

>>>>>>> 30abb2d66ec6474e545a769bcc0595d88d017a64
    <title>Foodlist</title>
</head>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a button type="button" class="navbar-toggle" href="/logout">Sign Out</button>
                        <span class="glyphicon glyphicon-user"></span></a>
                <a class="navbar-brand page-scroll">FlyBar</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a button type="button" href="/login">Sign Out</button>
                          <span class="glyphicon glyphicon-user"></span></a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="api-stuff">
        <img class="api" src="http://i.imgur.com/mmS4eZN.jpg" />
    </div>
<<<<<<< HEAD
    <section id='food-form' class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Add New Meal</legend>
=======

    <section id='food-form' class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Add New Meal</legend>

>>>>>>> 30abb2d66ec6474e545a769bcc0595d88d017a64
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="foodName">Food Name</label>
                            <div class="col-md-4">
                                <input id="foodName" name="foodName" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
<<<<<<< HEAD
=======

>>>>>>> 30abb2d66ec6474e545a769bcc0595d88d017a64
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="calories">Calories</label>
                            <div class="col-md-4">
                                <input id="textinput" name="calories" type="text" placeholder="" class="form-control input-md">
<<<<<<< HEAD
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton">Save Meal</label>
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary submit">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    <div class="food" id="food">
    </div>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/style.css" media="screen" title="no title" charset="utf-8">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <meta charset="utf-8">
    <title>Foodlist</title>
</head>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a button type="button" class="navbar-toggle" href="/logout">Sign Out</button>
                        <span class="glyphicon glyphicon-user"></span></a>
                <a class="navbar-brand page-scroll">FlyBar</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a button type="button" href="/login">Sign Out</button>
                          <span class="glyphicon glyphicon-user"></span></a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="api-stuff">
        <img class="api" src="http://i.imgur.com/mmS4eZN.jpg" />
    </div>
    <section id='food-form' class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>Add New Meal</legend>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="foodName">Food Name</label>
                            <div class="col-md-4">
                                <input id="foodName" name="foodName" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="calories">Calories</label>
                            <div class="col-md-4">
                                <input id="textinput" name="calories" type="text" placeholder="" class="form-control input-md">
=======

>>>>>>> 30abb2d66ec6474e545a769bcc0595d88d017a64
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton">Save Meal</label>
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary submit">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    <div class="food" id="food">
    </div>
<<<<<<< HEAD
</body>
=======

</body>

>>>>>>> 30abb2d66ec6474e545a769bcc0595d88d017a64
</html>
