<!DOCTYPE HTML>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/styles/style.css"media="screen" title="no title" charset="utf-8">
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
<!-- Custom JS -->
<script type="text/javascript" src="/scripts/app.js"></script>

<head>
    <title>P1</title>
</head>

<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Project One</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#signup">Sign Up</a>
                    </li>
                </ul>
            </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="heading">Best calorie tracker ever!</h1>
                <hr>
                <p>Project One can help you log meals and calories!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
            </div>
        </div>
    </header>

    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sign up and start tracking!</h2>
                    <hr class="light">
                    <p class="text-faded">Project One has everything you need to monitor food intake throughout the day!</p>
                    <a href="#signup" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    </section>

</body>

</html>
